.box {
    height: 100px;
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.box select {
  appearance: none;           
  background-color: var(--background-1);
  color: var(--text);
  border: none;
  border-radius: 10px;
  padding: 1% 2%;
  font-size: xx-large;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
}

.box select:focus { 
  outline: none;
}


.semester {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.subjects {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.subject {
    display: flex;
    align-items: center;
    gap: 5%;
}

.subject h3 {
    background-color: var(--background-2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: lighter;
}