.sector {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: var(--Platinum);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  padding: 10px;
  transition: height .25s ease, padding .25s ease, background-color .25s ease;
  height: 60px;
}

.sector.delMode {
  background-color: var(--Amarant) !important;
  color: var(--Platinum);
}

.sector.delMode .box {
  background-color: transparent !important;
}

.sectorTitle {
  flex: 1;
  text-align: center;
}

.sectorEdit{
  display: flex;
  align-items: center;
  gap: 10px;
}

.trash,
.pen {
  cursor: pointer;
}

.box {
  width: 100%;
  display: flex;
align-items: center;
}

.default {
  display: flex;
}

.cancel,
.trueTrash {
  background-color: var(--Platinum);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}