.sector {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: var(--Platinum);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  padding: 10px;
  transition: height .25s ease, padding .25s ease, background-color .25s ease;
}

.sector.close {
  height: 60px;
  padding-bottom: 0;
}

.sector.open {
  height: 100%;
  padding-bottom: 20px;
}

.sector.delMode {
  background-color: var(--Amarant) !important;
  color: var(--Platinum);
}

.sector.delMode .box {
  background-color: transparent !important;
}

.sectorHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.sectorTitle {
  flex: 1;
  text-align: center;
}

.sectorEdit {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.trash,
.pen {
  cursor: pointer;
}

.box {
  width: 100%;
}

.default {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectorContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INPUT NORMAL */
.sectorContent input {
  border: none;
  background-color: var(--Platinum);
  font-size: large;
  padding: 10px;
  transition: background-color .2s ease;
  border-radius: 5px;
  width: 100%;
}

.sectorContent input:focus {
  outline: none;
}

.sectorContent input::placeholder {
  color: var(--DeepspaceBlue-blur);
}

/* INPUT EDITANDO */
.sectorContent input.editing {
  background-color: var(--DeepspaceBlue-blur) !important;
  color: white;
}

/* BOTÕES DE EDIÇÃO */
.field {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.icon,
.confirmBtn {
  cursor: pointer;
}

.confirmBtn {
  background-color: var(--Emerald);
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  cursor: pointer;
}

.cancel,
.trueTrash {
  background-color: var(--Platinum);
  border-radius: 5px;
  padding: 2px;
}