:root {
  --background-1: #f7feff;
  --text: #868686;
  --background-2: #e4ebec;
}

html,
body {
  color: var(--text);
  background-color: var(--background-1);
}

main{
  display: flex;
  gap: 3%;
  margin: 0 1%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
}