:root {
  --background: #F0FDFF;
  --text: #868686;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}