.sidebar{
    background-color: var(--Platinum-blur);
    padding: 20px;
    color: var(--DeepspaceBlue);
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

.opcoes{
    background-color: var(--Platinum);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: none;
    color: var(--DeepspaceBlue);
    height: 60px;
}