.sidebar{
    background-color: var(--Platinum-blur);
    padding: var(--Shore-Big);
    gap: var(--Shore-Big);
    border-radius: var(--Shore-Big);
    color: var(--DeepspaceBlue);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

.opcoes{
    background-color: var(--Platinum);
    padding: var(--Shore-Small);
    border-radius: var(--Shore-Small);
    display: flex;
    justify-content: center;
    border: none;
    color: var(--DeepspaceBlue);
    text-decoration: none;
    align-items: center;
}

.opcoes.ativo{
    background-color: var(--DeepspaceBlue);
    color: var(--Platinum);
}