.header{
    display: none;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-weight: 600;
    color: var(--DeepspaceBlue);
}

.title {
    margin: 0 auto;
}

.forms {
    background-color: var(--Platinum-blur);
    width: 33%;
    padding: 50px;
    border-radius: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs input {
    padding: 20px;
    border-radius: 10px;
    border: none;
    height: 60px;
}

.inputs input::placeholder {
    color: var(--DeepspaceBlue);
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30%;
}

.buttons button {
    width: 40%;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--DeepspaceBlue);
}

.buttons button h1 {
    color: var(--Platinum);
}

.buttons .red{
    background-color: var(--Amarant);
    color: var(--Platinum);
}

.hide{
    display: none;
}

.show{
    display: flex;
}