.header {
   background-color: var(--Platinum-blur);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--Shore-Big);
    border-radius: var(--Shore-Big);
    color: var(--DeepspaceBlue);
    height: min-content;
}

.sec {
    display: flex;
    gap: var(--Shore-Big);
}

.blocks {
    color: var(--DeepspaceBlue);
    background-color: var(--Platinum);
    text-decoration: none;
    padding: 0 var(--Shore-Small);
    border-radius: var(--Shore-Small);

}

.logo {
    height: 100%;
    background-color: var(--Platinum);
    border-radius: var(--Shore-Small);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton {
    text-decoration: none;
    color: var(--DeepspaceBlue);
}