.main {
    display: flex;
    height: 100%;
    width: 100%;
    gap: var(--Shore-Big);
    min-height: 0;
}

.mainContent {
    color: var(--DeepspaceBlue);
    gap: var(--Shore-Big);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    align-items: center;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.mainHeader {
    width: 100%;
    display: flex;
    gap: var(--Shore-Big);
}

.arrowBack {
    display: flex;
    background-color: var(--Platinum);
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    transition: ease .1s;
    border-radius: var(--Shore-Small);
    padding: var(--Shore-Small);
}

.newSector {
    all: unset;
    display: flex;
    background-color: var(--Platinum);
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: max-content;
    cursor: pointer;
    padding: var(--Shore-Small);
    border-radius: var(--Shore-Small);
    gap: var(--Shore-Small);
}

.setores {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: var(--Shore-Big);
    padding: var(--Shore-Big);

    overflow-y: auto;
    min-height: 0;

    background-color: var(--Platinum-blur);
    border-radius: var(--Shore-Big);
    height: 100%;
}

.titleArea {
    background-color: var(--Platinum);
    padding: var(--Shore-Small);
    border-radius: var(--Shore-Small);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeader {
    width: 100%;
    background-color: var(--Platinum-blur);
    border-radius: var(--Shore-Big);
    padding: var(--Shore-Big);
    gap: var(--Shore-Big);
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: var(--DeepspaceBlue-blur-focus);
    backdrop-filter: blur(var(--Blur));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: var(--Platinum-blur);
    width: 30%;

    padding: var(--Shore-Big);
    border-radius: var(--Shore-Big);

    display: flex;
    flex-direction: column;
    gap: var(--Shore-Big);

    color: var(--DeepspaceBlue);
}

.modalTitle {
    background-color: var(--Platinum);
    border-radius: var(--Shore-Small);
    padding: var(--Shore-Small);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: var(--Shore-Big);
}

.formGroupInput[type="text"] {
    all: unset;
    background-color: var(--Platinum);
    border-radius: var(--Shore-Small);
    padding: var(--Shore-Small);
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.modalActionsButton {
    all: unset;
    background-color: var(--Platinum);
    padding: var(--Shore-Small) var(--Shore-Big);
    border-radius: var(--Shore-Small);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalCancel {
    background-color: var(--Amarant);
    color: var(--Platinum);
}

.modalCreate {
    background-color: var(--DeepspaceBlue);
    color: var(--Platinum);
}